{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Посты</li>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% if tag %}
                <h2>Посты найденные по тэгу "#{{ tag.name }}"</h2>
            {% endif %}
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <p class="tags">
                        Просмотров: ({{ post.count_views }})
                            Тэги:
                            {% for tag in post.tags.all %}
                                <a href="{% url 'post_list_by_tag' tag_slug=tag.slug %}">#{{ tag.name }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                    </p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Ознакомиться &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
            {% if post_list.has_other_pages %}
                <nav aria-label="Page navigation conatiner"></nav>
                    <ul class="pagination justify-content-center">
            {% if post_list.has_previous %}
                        <li>
                            <a href="?page={{ post_list.previous_page_number }}"
                               class="page-link">&laquo; Предыдущее </a>
                        </li>
            {% endif %}
            {% if post_list.has_next %}
                        <li>
                            <a href="?page={{ post_list.next_page_number }}"
                               class="page-link"> Следующее &raquo;</a>
                        </li>
            {% endif %}
                    </ul>
                </nav>
</div>
{% endif %}
{% endblock %}