{% extends 'base_accounts.html' %}

{% block title %}Log in to Blog game{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Авторизация пользователя</li>
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Форма входа</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Войти</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Впервые на  Blog game? <a href="{% url 'signup' %}">Зарегистрироваться</a>
        </div>
      <div class="text-center py-2">
        <small>
          <a href="{% url 'password_reset' %}" class="text-muted">Забыли пароль?</a>
        </small>
      </div>
      </div>
    </div>
  </div>
{% endblock %}