{% extends 'base_accounts.html' %}

{% block title %}Восстановить пароль{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Восстановление пароля</li>
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Восстановить пароль</h3>
          <p>Введите ваш email адрес и мы отправим вам ссылку для восстановления пароля.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Отправить сброс пароля на почту</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}