{% extends 'base.html' %}

{% block title %}Смена пароля завершена успехом{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Сменить пароль</a></li>
  <li class="breadcrumb-item active">Успех</li>
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>Успех!</strong> Ваш пароль был изменен!
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Возвратиться на домашнюю страницу</a>
{% endblock %}