{% extends 'base_accounts.html' %}

{% block title %}Пароль изменен!{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Пароль изменен!</li>
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Пароль изменен!</h3>
          <div class="alert alert-success" role="alert">
            Вы удачно сменили пароль! Теперь вы можете войти.
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Вернуться на страницу входа</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}