{% extends 'base_accounts.html' %}

{% block title %}Сброс пароля{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Сброс пароля</li>
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Сброс пароля</h3>
          <p>Проверьте вашу почту, на наличие ссылки для смены вашего пароля.
            Если она не появилась в течении пары минут, проверьте спам.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Возвратиться на страницу входу</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}