{% extends 'base_accounts.html' %}

{% block title %}
  {% if validlink %}
    Изменить пароль для {{ form.user.username }}
  {% else %}
    Восстановить ваш пароль
  {% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Изменение пароля для {{ form.user.username }}</li>
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Изменить пароль для @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Смена пароля</button>
            </form>
          {% else %}
            <h3 class="card-title">Восстановить ваш пароль</h3>
            <div class="alert alert-danger" role="alert">
              Выглядит так, что вы кликнули на нерабочую ссылку смены пароля. Попробуйте еще раз, чуть позже.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">
              Запрос на новую ссылку смены пароля</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}