{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item active">{{ post.title }}</li>
{% endblock %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 card mb-4  mt-3 left  top">
                    <div class="card-body">
                        <h1>{% block title %}
                                {{ post.title }}
                            {% endblock title %}
                        </h1>
                        <p class=" text-muted">{{ post.author }} | {{ post.created_on }} |
                            Просмотров: ({{ post.count_views }})
                        </p>
                            {% if post.image %}
                                <img src="{{post.image.url}}" height="340" width="650">
                            {% else %}
                                <p>Картинка не загружена</p>
                            {% endif %}
                        <p class="card-text ">{{ post.content | safe }}</p>
                        {% video post.video as my_video %}
                            <iframe width="560" height="315" src="{{my_video.url}}"
                                    frameborder="0" allowfullscreen></iframe>
                        {% endvideo %}
                        <br>
                        <br>
                        <p class="tags">
                            <a class="pic" href="{% url 'like' post.slug %}">
                            <img src="{% static 'img/like.png' %}" height="25" width="25">
                        </a>({{post.likes}})
                        <a href="{% url 'dislike' post.slug %}">
                            <img src="{% static 'img/dislike.png' %}" height="25" width="25">
                        </a>({{post.dislikes}})
                            &nbsp;Тэги:
                            {% for tag in post.tags.all %}
                                <a href="{% url 'post_list_by_tag' tag_slug=tag.slug %}">#{{ tag.name }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                {% block sidebar %}
                    {% include 'sidebar.html' %}
                {% endblock sidebar %}
                    <div class="col-md-8 card mb-4  mt-3 ">
                        <div class="card-body">
                        <!-- Комментарии -->
                            <h2>Комментарии: ({{ comments.count }})</h2>
                                {% for comment in comments %}
                                    <div class="comments" style="padding: 10px;">
                                        <p class="font-weight-bold">
                                            {{ comment.name }}
                                            <span class=" text-muted font-weight-normal">
                                                {{ comment.created_on }}
                                            </span>
                                        </p>
                                        {{ comment.content | linebreaks }}
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                        {% if user.is_authenticated %}
                        <div class="col-md-8 card mb-4  mt-3 ">
                            <div class="card-body">
                                {% if new_comment %}
                                    <div class="alert alert-success" role="alert">
                                        Ваш комментарий обрабатывается модератором
                                    </div>
                                {% else %}
                                    <h3>Оставить комментарий</h3>
                                        <form method="post" style="margin-top: 1.3em;">
                                            {{ comment_form | crispy }}
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary  btn-lg">Отправить</button>
                                         </form>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
            </div>
        </div>

    {% endblock content %}