{% load static %}
{% block sidebar %}
<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
    <!-- Sidebar виджет столбец -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">О нас</h5>
            <div class="card-body">
                <p class="card-text"> Тут могла быть ваша реклама</p>
                <img src="{% static 'img/advert.jpg' %}" height="220" width="300"><br><br>
                <a href="http://resursreklama.by/?gclid=EAIaIQobChMIhK2Q4MOP7wIVngWiAx2lbgHqEAAYASAAEgJP2_D_BwE"
                   class="btn btn-danger">Узнать больше!
                </a>
            </div>
        </div>
    </div>

{% endblock sidebar %}