{% extends 'base_accounts.html' %}

{% block title %}Зарегистрироваться на Blog game{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Регистрация пользователя</li>
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Форма регистрации</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Создать аккаунт</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}